*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #bee1e6;
}

h1{
    color: #22223b;
    text-align: center;
    margin: 20px 0px 30px 0px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 420px;
    height: 480px;
    text-align: center;
    margin: 0px auto;
}

#screen{
    width: 386px;
    height: 100px;
    padding: 15px;
    font-size: 50px;
    color: black;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    transition: 100ms;
}

button{
    font-size: 40px;
    width: 100%;
    padding: 13px;
    background-color: #22223b;
    color: white;
    border: none;
    cursor: pointer;
}

td:active {
    transform: scale(0.95);
}
